[workspace]
resolver = "2"

members = [
    "compiler",
    "guest",
    "pico2-quick"
]

[profile.release]
debug = 2            # Essential for stepping and backtraces
opt-level = "z"
strip = "none"       # Do not strip symbols
